/*Blanket Padding & Margin Wipe*/
*{
	padding: 0;
	margin: 0;
}


/*General Tags*/
html{

}
body{
	color: #cdcdcd;
}
body, html{
	height: 100%;
}
header{
	position: relative;
	width: 100%;
	height: 13vh;
	top: 0;
	background: hsla(210,20%,96%,1.00);
	box-shadow: 0vw -.4vw 5vw;
}
nav{
	position: absolute;
	width: 40%;
	height: 100%;
	right: 0;
}
nav a{
	font-family: "Avenir Next", "Avenir", sans-serif;
	text-decoration: none;
	color: hsla(0,0%,14%,1.00);
	transition: color 0.3s ease;
}
main {
	all: unset;
	position: relative;
	width: 100vw;
	font-size: 2vh;
}


/*CLASSES*/

/*Defines attributes for Front Page Hero Images*/
div.hero_image{
	position: relative;
	height: 110vh;
	background-size: cover;
	background-attachment: fixed;
	-webkit-filter: grayscale(60%) sepia(20%);
	filter: grayscale(60%) sepia(20%);
}
.hero_text{
	display: block;
	position: absolute;
	padding: 2%;
	top: 60%;
	right: 50%;
	transform: translateY(-50%) translateX(50%);
	background: hsla(244,16%,19%,.40);
	-webkit-box-shadow: 26px 10px 300px 220px hsla(244,16%,19%,.40);
	-moz-box-shadow: 26px 10px 300px 220px hsla(244,16%,19%,.40);
	box-shadow: 26px 10px 300px 220px hsla(244,16%,19%,.40);
	font-family: "Avenir Next", "Avenir", sans-serif;
	font-weight: 200;
	color: hsla(0,0%,100%,1.00);
	text-align: center;
}
/*Divider*/
.divider{
	display: block;
	position: relative;

}
/*Shape of Divider*/
.divider_block{
	position: absolute;
	background: hsla(210,20%,96%,1.00);
	width: 100%;
	height: 40vh;
	top: -5.6vh;
	-webkit-clip-path: polygon(0 14%, 100% 0, 100% 86%, 0 100%);
	clip-path: polygon(0 14%, 100% 0, 100% 86%, 0 100%);
	z-index: 12;
}
/*Divider - Header Style 2*/
.divider_block > h2 {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: red;
	font-family: "brandon"
}

/*IDs*/
#header_background{
	position: absolute;
	width: 100%;
	height: 100%; 
}
#cotl_logo{
	position: absolute;
	height: 90%;
	top: 50%;
	left: 3%;
	transform: translateY(-50%);
}
/*First Hero Image*/
#hero_1{
	background-image: url(../../assets/images/pictures/CHU_9748.jpg);
	background-position-x: 42%;
	height: 93vh;
	-webkit-filter: inherit;
	filter: inherit;
	-webkit-filter: grayscale(40%);
	filter: grayscale(40%);
}
/*Second Hero Image*/
#hero_2{
	background-image: url(../../assets/images/pictures/EPP_4736.jpg);
	top: 24.8vh;
	-webkit-filter: inherit;
	filter: inherit;
	-webkit-filter: hue-rotate(-10deg);
	filter: hue-rotate(-10deg);
}
@-moz-document url-prefix() { 
  div.hero_image {
     background-attachment: scroll;
  }
}