*{
	padding: 0;
	margin: 0;
}
html{

}
body{
	color: #cdcdcd;
}
body, html{
	height: 100%;
}
header{
	position: relative;
	width: 100%;
	height: 15vh;
	top: 0;
	background: hsla(0,0%,100%,1.00);
	box-shadow: 0vw -.4vw 5vw;
}
nav{
	position: absolute;
	width: 40%;
	height: 100%;
	right: 0;
}
nav a{
	font-family: "Avenir Next", "Avenir", sans-serif;
	text-decoration: none;
	color: hsla(0,0%,14%,1.00);
	transition: color 0.3s ease;
}
main {
	all: unset;
	position: relative;
	width: 100vw;
}
#header_background{
	position: absolute;
	width: 100%;
	height: 100%; 
}
#cotl_logo{
	position: absolute;
	height: 90%;
	top: 50%;
	left: 5%;
	transform: translateY(-50%);
}
#hero_image_1{
	position: relative;
	background: url(../../../longview_church_of_truth/assets/images/pictures/home_1.png);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 95vh;
}
#divider_1{
	position: relative;
	width: 100%;
	height: auto;
	top: 0vh;
}
#divider_1_block{
	position: absolute;
	background: red;
	width: 100%;
	height: 40vw;
	top: -5.8vw;
	-webkit-clip-path: polygon(0 14%, 100% 0, 100% 86%, 0 100%);
	clip-path: polygon(0 14%, 100% 0, 100% 86%, 0 100%);
}